fastapi==0.111.0
uvicorn==0.30.1
gliner==0.2.6
spacy==3.7.5
negspacy==0.2.4
sagemaker-inference==1.8.0
pydantic==2.7.4
torch==2.3.1 --index-url https://download.pytorch.org/whl/cpu
transformers==4.41.2
huggingface-hub==0.23.4
